# Counter

###### keeps track of the number of times similar values are added we can use it sequence, dictionary keys with counts, mapping str names to number of counts

In [2]:
import collections as coll

In [8]:
x = coll.Counter(['x','y','x','x','y','z','y','x'])
print(x)

Counter({'x': 4, 'y': 3, 'z': 1})

In [9]:
x = coll.Counter({'x':5, 'y':6, 'z':2, 'v':3})
print(x)

Counter({'y': 6, 'x': 5, 'v': 3, 'z': 2})

In [11]:
x = coll.Counter(x=4, y=2, z=5, v=3)
print(x)

Counter({'z': 5, 'x': 4, 'v': 3, 'y': 2})

In [12]:
list1 = ['a','b','c','x','y','z','x','a','x','b']

In [13]:
coll.Counter(list1)

Counter({'a': 2, 'b': 2, 'c': 1, 'x': 3, 'y': 1, 'z': 1})

In [14]:
string1 = ('dfhieshertihfeorrsstgu')

In [15]:
coll.Counter(string1)

Counter({'d': 1,
         'f': 2,
         'h': 3,
         'i': 2,
         'e': 3,
         's': 3,
         'r': 3,
         't': 2,
         'o': 1,
         'g': 1,
         'u': 1})

In [16]:
x = coll.Counter()
print(x)

Counter()

## Update

In [21]:
x.update('12332234112')
print(x)

Counter({'2': 9, '1': 7, '3': 6, '4': 3})

In [22]:
x.update('124')
print(x)

Counter({'2': 10, '1': 8, '3': 6, '4': 4})

In [24]:
x.update({1:2, 2:3, 3:1})
print(x)

Counter({'2': 10, '1': 8, '3': 6, 2: 6, '4': 4, 1: 4, 3: 2})

In [25]:
x.update({'1':3, '2':3, '3':2})
print(x)

Counter({'2': 13, '1': 11, '3': 8, 2: 6, '4': 4, 1: 4, 3: 2})

In [27]:
x = collections.Counter('1234522')
print(x)

Counter({'2': 3, '1': 1, '3': 1, '4': 1, '5': 1})

In [29]:
for number in x:
    print("{}={}".format(number,x[number]))

1=1
2=3
3=1
4=1
5=1

In [30]:
for numbers in '12346':
    print("{} = {}".format(numbers, x[numbers]))

1 = 1
2 = 3
3 = 1
4 = 1
6 = 0

In [33]:
print(x)

Counter({'2': 3, '1': 1, '3': 1, '4': 1, '5': 1})

## Elements

In [34]:
x.elements()

In [35]:
list(x.elements())

['1', '2', '2', '2', '3', '4', '5']

## most_common()

In [41]:
xyz = coll.Counter('xyzxxyyzxabckrvyz')

In [42]:
for letters, num in xyz.most_common(2):
    print("{}={}".format(letters, num))

x=4
y=4

In [43]:
for letters, num in xyz.most_common(4):
    print("{}={}".format(letters, num))

x=4
y=4
z=3
a=1

In [44]:
first = coll.Counter(['x','y','z','x','y','y','z'])
second = coll.Counter('xyzabcr')

In [51]:
print(first)
print(second)
print(first + second)
print(first - second)
print(first | second)
print(first & second)

Counter({'y': 3, 'x': 2, 'z': 2})
Counter({'x': 1, 'y': 1, 'z': 1, 'a': 1, 'b': 1, 'c': 1, 'r': 1})
Counter({'y': 4, 'x': 3, 'z': 3, 'a': 1, 'b': 1, 'c': 1, 'r': 1})
Counter({'y': 2, 'x': 1, 'z': 1})
Counter({'y': 3, 'x': 2, 'z': 2, 'a': 1, 'b': 1, 'c': 1, 'r': 1})
Counter({'x': 1, 'y': 1, 'z': 1})

# Deque

In [52]:
# double ended queue
# we can add/remove elem on both ends

In [53]:
a = coll.deque('xyzrst')

In [54]:
type(a)

collections.deque

In [55]:
len(a)

6

In [59]:
print(a[3])
print(a[1])
print(a[-2])
print(a[0])

r
y
s
x

In [60]:
a.remove('s')
print(a)

deque(['x', 'y', 'z', 'r', 't'])

## append and extend

In [61]:
a = coll.deque()
print(a)

deque([])

In [62]:
a.extend('xyzrstv')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v'])

In [63]:
a.extend('c')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c'])

In [64]:
a.extend('de')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e'])

In [65]:
a.extend(['fghi'])
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'fghi'])

In [66]:
a.remove('fghi')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e'])

In [67]:
a.append('j')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j'])

In [68]:
a.append('kl')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j', 'kl'])

In [69]:
a.extend('kl')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j', 'kl', 'k', 'l'])

In [70]:
a.append('mno')
print(a)

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j', 'kl', 'k', 'l', 'mno'])

## `extendleft()` and `appendleft()`

In [72]:
x = coll.deque('hijklmn')
print(x)

deque(['h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [73]:
x.extendleft('g')
print(x)

deque(['g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [74]:
x.extendleft('f')
print(x)

deque(['f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [75]:
x.extendleft('cde')
print(x)

deque(['e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [77]:
x.appendleft('b')
print(x)

deque(['b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [78]:
x.appendleft('a')
print(x)

deque(['a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [79]:
x.appendleft('rst')
print(x)

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

## `pop()` and `popleft()`

In [80]:
print(x)

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'])

In [81]:
x.pop()
print(x)

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [83]:
x.pop()
print(x)

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])

In [85]:
x.popleft()
print(x)

deque(['a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])

In [87]:
x.popleft()
print(x)

deque(['b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])

## `remove()` and `rotate()`

In [92]:
x.remove('i')
print(x)

ValueError: deque.remove(x): x not in deque

In [93]:
x = coll.deque('abcdefgh')
print(x)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [94]:
x.rotate(3)
print(x)

deque(['f', 'g', 'h', 'a', 'b', 'c', 'd', 'e'])

In [95]:
x.rotate(2)
print(x)

deque(['d', 'e', 'f', 'g', 'h', 'a', 'b', 'c'])

In [ ]:
x.rotate(-3)
print(x)

In [96]:
x.rotate(-2)
print(x)

deque(['f', 'g', 'h', 'a', 'b', 'c', 'd', 'e'])

In [97]:
num = coll.deque(range(12))
print(num)

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [98]:
num.rotate(4)
print(num)

deque([8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7])

In [100]:
num.rotate(-6)
print(num)

deque([8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7])

# namedtuple

In [102]:
import collections as coll

In [103]:
x = ("James",16,'Male')
print(x)

('James', 16, 'Male')

In [104]:
print(x[1])

16

In [105]:
print(x[2])

Male

In [106]:
y = ('Sara',18,12,"Female")

In [107]:
print(y[-1])

Female

In [113]:
Student = coll.namedtuple('Student','name age grade')

In [114]:
type(Student)

type

In [115]:
stud1 = Student(name='James', age=15, grade=10)
print(stud1)

Student(name='James', age=15, grade=10)

In [116]:
stud2 = Student(name="Sara", age=18, grade=12)
print(stud2)

Student(name='Sara', age=18, grade=12)

In [118]:
print(stud1.name)
print(stud1.grade)
print(stud2.age)
print(stud2.name)

James
10
18
Sara

In [120]:
Employee = coll.namedtuple('Employee', 'name age department')

In [121]:
Smith = Employee(name='Smith', age=42, department='Finance')
Jane = Employee(name='Jane', age=37, department='IT')

In [124]:
print(Jane.age)
print(Jane.department)
print(Smith.department)

37
IT
Finance

In [128]:
# this line goes to error because of duplicate name variable 
Employee = coll.namedtuple('Employee', ' name name age department')

ValueError: Encountered duplicate field name: 'name'

In [130]:
# def cannot be used
Employee = coll.namedtuple('Employee', 'name def age department')

ValueError: Type names and field names cannot be a keyword: 'def'

## ordereddict

In [139]:
a = {}

In [140]:
a['x'] = 'X'
print(a)

{'x': 'X'}

In [141]:
a['y'] = 'Y'
a['z'] = 'Z'
print(a)

{'x': 'X', 'y': 'Y', 'z': 'Z'}

In [142]:
for keys, values in a.items():
    print(keys,values)

x X
y Y
z Z

In [143]:
a = coll.OrderedDict()
print(a)

OrderedDict()

In [144]:
a['x'] = 'X'
a['y'] = 'Y'
a['z'] = 'Z'
print(a)

OrderedDict([('x', 'X'), ('y', 'Y'), ('z', 'Z')])

## `move_to_end()`

In [145]:
dict1 = coll.OrderedDict()

In [146]:
dict1['w'] = 'W'
dict1['x'] = 'X'
dict1['y'] = 'Y'
dict1['z'] = 'Z'

In [147]:
for key, value in dict1.items():
    print(key,value)

w W
x X
y Y
z Z

In [150]:
dict1.move_to_end('w')
print(dict1)

OrderedDict([('x', 'X'), ('y', 'Y'), ('z', 'Z'), ('w', 'W')])

# chainmap

In [187]:
x = {'a':'A', 'c':'C'}
y = {'b':'B', 'd':'D'}

In [152]:
dict1 = coll.ChainMap(x,y)
print(dict1)

ChainMap(('James', 16, 'Male'), ('Sara', 18, 12, 'Female'))